   
{% extends "expans/base.html" %}

{% load static %}

{% block body_block %}
<style type="text/css">
  .input-field>.input_form{
    width: 35%;
  }
</style>
    <!-- section -->
  <div class="row">
      <div class="col s12 m6 offset-m3">
          <ul class="collection" id="collection-items">
            <li class="collection-item avatar">
              <h4>Add No of Quantity Here</h4>
            </li>
            {% if mylist %}
              {% if item_list %}
                 {% for item in mylist %}
                    {% for image in item_list %}
                          {% ifequal image.id item.item %}  

                          
                          <li class="collection-item avatar">
                            {% if image.picture %}
                            <img src="{{ image.picture.url }}" alt="" class="circle">
                            {%endif%} 
                            <form class="form-supplier" style="margin: 0px 5px -10px;" id="user_form" method="post" action="/expans/add_entry/{{item.id}}/"
                          enctype="multipart/form-data">
                            {% csrf_token %}
                            <!-- Display each form here -->
                            {% if bad_details %}
                            <strong>something is wrong check</strong>
                            {% elif disabled_account %}
                            <strong> we can't add now..!</strong>
                            {% endif %} 

                            <div class="input-field">
                              <input type="number" class="validate input_form black-clr" min="1" maxlength=""  name="qnty"required="">
                              <label>Enter Quantity</label>
                              <span class="item-measured">{{item.measured}}</span>
                             <button class="btn btn-default" style="border-radius: 0px;" type="submit">Save</button>
                            </div>
                            </form>
                          </li>

                          {%endifequal%}
                        {% endfor %}
                      {% endfor %}
                    {% endif %}                                
                  {% else %}
                  No item selected... add to my list.....
            {% endif %}
         </ul>    
      </div>
  </div>


                      


{% endblock %}
