 
{% extends "expans/company/company_base.html" %}

{% load static %}

{% block body_block %}

<style type="text/css">
  .row {
    margin-right: 10px;
    margin-left: 10px;
}
</style>
<div class="row myPanel">
      <div class="panel panel-default text-center myPanel-in">
      
          <strong>Add No of Quantity here</strong>
              <strong> 
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}"> <h3>{{ message }} </h3></div>
              {% endfor %}
              </strong>

            {% if mylist %}
            <table align="center" class="table table-striped">
              {% if item_list %}
                 {% for m in mylist %}
                    {% for i in item_list %}
                          {% ifequal i.id m.item.id %}
                          <tr>
                          
                            <form class="form-supplier"  method="post" action="/expans/company_add_entry/{{m.id}}/"enctype="multipart/form-data">
                             
                            {% csrf_token %}
                            <!-- Display each form here -->
                             {% if bad_details %}
                            <strong>something is wrong check</strong>
                            {% elif disabled_account %}
                            <strong> we can't add now..!</strong>
                            {% endif %} 
                           <td>
                         <img src="{{ i.picture.url }}" alt="" class="img-circle" width="35px" height="35px">
                            </td>
                             
                             <td>
                          <div class="login-form">
                          <div class="styled-input">
           
                              <input type="text" name="qnty" pattern="[0-9]+" required=""/>
                              <label>Enter Quantity</label> 
                             </div>
                             </div>
                             </td>
                             <td>
                             {{m.measured}}
                             </td>
                             <td>
                              <button class="btn btn-default" style="border-radius: 0px;" type="submit">Save</button>
                              </td>
                          

                          </form>
                          </tr>
                    
                          {%endifequal%}
                        {% endfor %}
                      {% endfor %}
                    {% endif %}                                
                  {% else %}
                  </table>
                  No item selected... add to my list.....
            {% endif %}

  </div>
</div>

    <!-- section -->
{% endblock %}
