
{% extends "expans/base.html" %}

{% load static %}

{% block body_block %}


 <div class="row">
      <div class="col s12 m6 offset-m3">
          <ul class="collection">
            <li class="collection-item avatar">
              <h4>Add new supplier and select Item</h4>
            </li>
              <li class="collection-item avatar">
                          <form class="form-horizontal" method="post" action="/expans/addmysupplier/" enctype="multipart/form-data">
              {% csrf_token %}
              <!-- Display each form here -->
              {% if bad_details %}
              <p><strong>something is wrong check</strong></p>
              {% elif disabled_account %}
              <p><strong> we can't add now..!</strong></p>
              {% endif %}
            
           
                <div class="input-field col s8 offset-s2">
                  <input type="text" class="input-block-level" name="name" required="True" />

                  <label>Supplier Name</label>
                </div>
          
                <div class="input-field col s8 offset-s2">
                  <input type="text" class="input-block-level" name="contactno" value="" pattern="[0-9]{10}" maxlength="10" required="True" />

                  <label>Phone Number</label>
                </div>
            
                <div class="input-field col s8 offset-s2">
                  <input type="text" class="input-block-level" name="address" value="" size="100" required="True" />
                  <label>Address</label>
                </div>

                <div class="file-field input-field col s8 offset-s2">
                  <div class="btn">
                    <span>Select supplier Image</span>
                    <input id="uploadImage" type="file" name="picture" onchange="PreviewImage();">
                  </div>
                  <div class="file-path-wrapper">
                    <img id="uploadPreview" class="img-circle" style="width: 75px; height: 75px;" />
                    <input class="file-path validate" type="text">
                  </div>
                </div>
            
            
                <div class="input-field col s8 offset-s2">
                 <input type="text" id="project" required="True" clour="blue "  name="itemid">
                  <label> select ur items</label>
                </div>
            
                <div class="input-field col s8 offset-s2">
                 <input type="text" required="True" name="measured" value="" size="50">
                  <label>Item Measured in</label>
                </div>
                
                <div class="input-field col s8 offset-s2">
                 <input type="text" class="input-block-level" pattern="[0-9]+" name="price" min="1" required="True" />
                  <label>price: ₹ </label>
                </div>
                                    
        
                  <div class="card-action clear-x">
                <button type="submit" class="btn btn-default">Save</button>
           
                <input type="reset" class="btn btn-outline btn-primary" value="Reset">
               
            
              </div>
            </form>
               </li>
 </ul>    
      </div>
  </div>



          
                 
              
      




<!--- Imgage auto complete files -->
<script src='http://code.jquery.com/jquery-1.11.0.min.js'></script>
<script src='http://code.jquery.com/ui/1.10.4/jquery-ui.min.js'></script>
<script> (function($){
  
  var $project = $('#project');

  var projects = [
    {
      value: "1",
      label: "Tea-coffe",
      desc: "",
      icon: "tea.png"
    },
    {
      value: "2",
      label: "Bajji",
      desc: "",
      icon: "bajji.png"
    },
    {
      value: "3",
      label: "Bun",
      desc: "",
      icon: "bun.png"
    },{
      value: "4",
      label: "Chakuli",
      desc: "",
      icon: "chakuli.png"
    },
    {
      value: "5",
      label: "Biscuit",
      desc: "",
      icon: "biscuit.png"
    },
    {
      value: "6",
      label: "Chocolates",
      desc: "",
      icon: "chocolate.png"
    },
    {
      value: "7",
      label: "Dry-Fruits",
      desc: "",
      icon: "dryfruits.png"
    },
    {
      value: "8",
      label: "Juice",
      desc: "",
      icon: "juice.png"
    },
    {
      value: "9",
      label: "Tissue paper",
      desc: "",
      icon: "tiss.png"
    },
    {
      value: "10",
      label: "Water-can",
      desc: "",
      icon: "water-can.png"
    }

  ];
  
  $project.autocomplete({
    minLength: 0,
    source: projects,
    focus: function( event, ui ) {
      $project.val( ui.item.label );
      return false;
    }
  });
  
  $project.data( "ui-autocomplete" )._renderItem = function( ul, item ) {
    
    var $li = $('<li>'),
        $img = $('<img>');


    $img.attr({
      src: "{% static 'item_pics_list/'%}" + item.icon,
      alt: item.label
    });

    $li.attr('data-value', item.label);
    $li.append('<a href="#">');
    $li.find('a').append($img).append(" " + item.label);    

    return $li.appendTo(ul);
  };


})(jQuery);

</script>
  <!-- close autocomplete complete files-->
<!-- image preview code-->
<script type="text/javascript">

    function PreviewImage() {
        var oFReader = new FileReader();
        oFReader.readAsDataURL(document.getElementById("uploadImage").files[0]);

        oFReader.onload = function (oFREvent) {
            document.getElementById("uploadPreview").src = oFREvent.target.result;
        };
    };

</script>
<!-- image preview end -->
</body>



{% endblock %}

