!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Autocomplete-Image</title>
    
    
 
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
<link rel='stylesheet prefetch' href='http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.min.css'>

 
    
    
    
  </head>

  <body>

      <input id="project">
    <script src='http://code.jquery.com/jquery-1.11.0.min.js'></script>
<script src='http://code.jquery.com/ui/1.10.4/jquery-ui.min.js'></script>

        <script src="js/index.js"></script>

    
    
    
  </body>
</html>
