
{% extends "expans/base.html" %}

{% load static %}

{% block body_block %}
   <style type="text/css">
    .test_float
    {
      float: left;
      position: inline-block;
    }
    .collection-item
    {
      margin-top: 3px;
    }
   </style>
<body>
    <div class="container">
    <ul class="collection">
      <li class="collection-item avatar z-depth-3">
        
        <div class="row">
        <div class="col l2">
          <img src="{{ mylist1.sup.picture.url }}" class="circle" /> 
          <span class="title">Title</span>
          <p>{{mylist1.sup}}
          </p>
        </div>
        <div class="col l4 test_float">
          <h6>Supplies</h6>
        </div>
        <div class="col l2 test_float"> 
         <img src="{{ item.picture.url }}" class="circle"/>  
                       
          <span class="title">Title</span>
          <p>{{item.name}}
          </p>
        </div>
        <div class="col l4 test_float"> 
          <p>Qnty Till Now <strong>{{count}}</strong></p>
          <br>Rs ₹: {{mylist1.price}}
               <p> Total= ₹ {{total}}</p>
        </div>
        </div>
        <a href="#!" class="secondary-content">Chat/message</a>
        <span><a href="/expans/payment/">Make-Payment</a></span>
      </li>
    </ul>
  </div>


    <!-- Bootstrap -->

    <div class="row">
      <div class="col s12 m6 offset-m3">
        <strong>Transaction details</strong>
            <ul class="tabs">
              <li class="tab col s3"><a href="#test1">Today</a></li>
             <!-- <li class="tab col s3"><a href="#test2">Yesterday</a></li> -->
              <li class="tab col s3"><a href="#test3">one week</a></li>
              <li class="tab col s3"><a href="#test4">one Month</a></li>
            </ul>   
          
          <div id="test1" class="col s12">
            <h5>{{day}} Todays Transaction</h5>
                      {% if mylist %}
                        {% if transaction_list %}
                          <table  class="table table-striped">
                           <th style="width: 300px">Date</th>
                            <th style="width:300px;"> Items</th>
                            <!-- <th style="width: 600px;"> Date</th> -->
                            <th style="width:300px;">No qnty</th>
                              <th style="width:900px">total of the day</th>
                               {% for t in transaction_list %}
                                {% for item in mylist %}
                                 {% ifequal  item.id t.mylist_id %}  
                                  {% for image in item_list %}
                                    {% ifequal t.mylist.item image.id %}
                                     {% if image.picture %}
                                <tr>
                                  <td>{{t.date.day}}/{{t.date.month}}/{{t.date.year}}<small><p>{{t.date.time}}</p></small>
                                  </td>
                                  <td>
                                    <img src="{{ image.picture.url }}" class="img-circle" width="35" height="35"/>
                                  </td>
                                    {%endif%}
                                    {%endifequal%}
                                  {%endfor%}
                                  <!-- <td style="width: 50px">{{t.date}}</td> -->
                                  <td style="width: 60px;"> {{ t.qnty}}
                                  </td>
                                  <td style="width: 60px;">  ₹ {{ t.total}}
                                  </td>
                                </tr>
                                  {%endifequal%}
                                {% endfor %}
                              {% endfor %}
                            {% endif %}                                
                          {% endif %}
                           </table>
          </div>

          <div id="test2" class="col s12">
            <h5>{{yesterday}}yesterday's Transaction </h5>
                    {% if mylist %}
                     {% if transaction_list2 %}
                     
                        <table class="table table-striped">
                       <th style="width: 300px">Date</th>
                        <th style="width:300px;"> Items</th>
                        <!-- <th style="width: 600px;"> Date</th> -->
                        <th style="width:300px;">No qnty</th>
                          <th style="width:900px">total of the day</th>
                           {% for t in transaction_list2 %}
                            {% for item in mylist %}
                             {% ifequal  item.id t.mylist_id %}  
                              {% for image in item_list %}
                                {% ifequal t.mylist.item image.id %}
                                 {% if image.picture %}
                            <tr>
                              <td>{{t.date.day}}/{{t.date.month}}/{{t.date.year}}<small><p>{{t.date.time}}</p></small>
                              </td>
                              <td><img src="{{ image.picture.url }}" class="img-circle" width="25" height="25"/>
                                </td>{%endif%}
                                        {%endifequal%}{%endfor%}
                              <td style="width: 50px;"> {{ t.qnty}}</td>
                              <td style="width: 50px;">  ₹ {{ t.total}}</td>
                              </tr>
                         
                             {%endifequal%}
                             {% endfor %}
                             {% endfor %}
                             {% endif %}                                
                             {% endif %}
                        </table>
          </div>
          <div id="test3" class="col s12">
            <h5> {{week}}weekly Transaction </h5>
            {% if mylist %}
                    {% if transaction_list3 %}
                    <table class="table table-striped">
                       <th style="width: 300px">Date</th>
                        <th style="width:300px;"> Items</th>
                        <!-- <th style="width: 600px;"> Date</th> -->
                        <th style="width:300px;">No qnty</th>
                          <th style="width:900px">total of the day</th>
                           {% for t in transaction_list3 %}
                            {% for item in mylist %}
                             {% ifequal  item.id t.mylist_id %}  
                              {% for image in item_list %}
                                {% ifequal t.mylist.item image.id %}
                                 {% if image.picture %}
                            <tr>
                              <td>{{t.date.day}}/{{t.date.month}}/{{t.date.year}}<small><p>{{t.date.time}}</p></small>
                              </td>
                              <td><img src="{{ image.picture.url }}" class="img-circle" width="25" height="25"/>
                              </td>
                                  {%endif%}
                              {%endifequal%}
                           {%endfor%}
                              <td style="width: 50px;"> {{ t.qnty}}</td>
                              <td style="width: 50px;">  ₹ {{ t.total}}</td>
                              </tr>
                         {%endifequal%}
                      {% endfor %}
                      {% endfor %}
                    {% endif %}                                
                    {% endif %}
                      </table>
          </div>
          <div id="test4" class="col s12">
            <h5> monthly Transaction </h5>
                    {% if mylist %}
                     {% if transaction_list4 %}
                     <table class="table table-striped">
                       <th style="width: 300px">Date</th>
                        <th style="width:300px;"> Items</th>
                        <!-- <th style="width: 600px;"> Date</th> -->
                        <th style="width:300px;">No qnty</th>
                          <th style="width:900px">total of the day</th>
                           {% for t in transaction_list4 %}
                            {% for item in mylist %}
                             {% ifequal  item.id t.mylist_id %}  
                              {% for image in item_list %}
                                {% ifequal t.mylist.item image.id %}
                                 {% if image.picture %}
                            <tr>
                              <td>{{t.date.day}}/{{t.date.month}}/{{t.date.year}}<small><p>{{t.date.time}}</p></small>
                              </td>
                    
                               <td><img src="{{ image.picture.url }}" class="img-circle" width="25" height="25"/>
                               </td>
                                    {%endif%}
                                  {%endifequal%}
                                {%endfor%}
                              <td style="width: 50px;"> {{ t.qnty}}</td>
                              <td style="width: 50px;">  ₹ {{ t.total}}</td>
                              </tr>
                            {%endifequal%}
                      {% endfor %}
                      {% endfor %}
                   {% endif %}                                
                   {% endif %}
                    </table>
          </div>
      </div>
    </div>               


</body>

{% endblock %}
