{% extends "expans/base.html" %}

{% block body_block %}

  {% if form.errors %}
    <div class="text-danger">Please correct the error{{ form.errors|pluralize }} below.</div>
    {% endif %}

 <div class="col-sm-6 col-md-offset-3 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h5>Add new supplier and select Item</h5>
        </div>
        <div class="panel-body">
         <form class="form-horizontal" method="post" action="/expans/addmysupplier/" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- Display each form here -->
           {% if bad_details %}
            <p><strong>something is wrong check</strong></p>
            {% elif disabled_account %}
            <p><strong> we can't add now..!</strong></p>
            {% endif %}
            
            <div class="form-group">
              <label class="control-label col-xs-4" for="firstName"> Name : </label>
              <div class="col-xs-6">
              <input type="text" class="form-control" placeholder="supplier name" name="name" required="True" />
              </div>
            </div>
      
            <div class="form-group">
                <label class="control-label col-xs-4" for="inputEmail">Phone no:</label>
                <div class="col-xs-6">
                      <input type="text" class="form-control" placeholder="phone no" name="contactno" value="" pattern="[0-9]{10}" maxlength="10" required="True">
                </div>
            </div>
        
            <div class="form-group">
                <label class="control-label col-xs-4" for="inputPassword">Address:</label>
                <div class="col-xs-6">
               <input type="text" class="form-control" placeholder="address" name="address" pattern="[a-z]+" value="" required="">
                </div>
            </div>
        
            <div class="form-group">
                <label class="control-label col-xs-4" for="confirmPassword">Add supplier image:</label>
                <div class="col-xs-6">
                  <img id="uploadPreview" class="img-circle" style="width: 50px; height: 50px;">
                  <input id="uploadImage" type="file" value="select img" required="" name="picture" onchange="PreviewImage();" >
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-xs-4" for="confirmPassword">select Item:</label>
                <div class="col-xs-6">
                    <input type="text" id="project" class="form-control" required="True" clour="blue" class="form-control" placeholder="search ur favourite items" name="itemid">
                </div>
            </div>
        
    
            <div class="form-group">
                <label class="control-label col-xs-4" for="firstName">unit of meassurement: </label>
                <div class="col-xs-6">
                  <input type="text" required="True" class="form-control" placeholder="item measured in" name="measured"> 
                </div>
            </div>    
            
            <div class="form-group">
                <label class="control-label col-xs-4" for="firstName">Unit of price: ₹</label>
                <div class="col-xs-6">
                  <input type="text" class="form-control" placeholder="Price of item" pattern="[0-9]+" name="price" min="1" required="True" />
                </div>
            </div>    
            
            <br>
                    <!-- Provide a button to click to submit the form. -->

            <div class="form-group">
              <div class="col-xs-offset-3 col-xs-6">
                <input class="btn btn-outline btn-success" type="submit" action="/expans/addmysupplier/" value="Save">
                <input type="reset" class="btn btn-outline btn-primary" value="Reset">
              </div>
            </div>
         </form>
        </div>
      </div>

<div class="hero-unit">

    <div class="container">
        <form class="form-control span8" id="supplier_form" method="post" action="/expans/add_supplier/"
              enctype="multipart/form-data">
            {% csrf_token %}
            
            {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text}}<br/>
            {{ field }}<br/>
            
            {% endfor %}

           
            <!-- Provide a button to click to submit the form. -->
            <input class="btn btn-primary" type="submit" name="submit" value="Add new supplier"/>
        </form>
    </div>
 </div>
   
 
{% endblock %}
